/* ==========Karthick ============= */
/* =====Desktop ======== */
@media (min-width: 992px) {
    .profile-section-one .password-container {
        position: relative;
        width: 80%;
    }

    .profile-section-one .done-css {
        background: linear-gradient(90.9deg, #B5379F 3.03%, #69678a 94.33%);
        border: none;
        border-radius: 10px;
        color: white;
        width: 80%;
        font-size: 14px;
        padding: 10px;
    }
}

/* =====Desktop ======== */
/* =====Mobile ======= */
@media (max-width: 991px) {
    .profile-section-one .password-container {
        position: relative;
        width: 100%;
    }

    .profile-section-one .done-css {
        background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
        border: none;
        border-radius: 10px;
        color: white;
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}

/* =====Mobile ======= */
.profile-section .profile-section-one .profile-col {
    background: #FEFEFE;
    margin: 10px;
    border-radius: 15px;
}

.profile-section-one .pro-pic {
    width: 100px;
    height: 100px;
}

.profile-section-one .user-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #8950DA;
}

.profile-section-one .user-id {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.06px;
    color: #00000099;
}

.profile-section-one .edit-profile {
    border: 1px solid #84818a33;
    color: #84818A;
    width: auto;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}

.profile-section-one .pro-left {
    border-right: 1px solid rgba(128, 128, 128, 0.253);
}

.profile-section-one .nav-pills .nav-link.active,
.profile-section-one .nav-pills .show>.nav-link {
    color: #8950DA;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
}

.profile-section-one .nav-link {
    font-weight: 700;
    color: #202020;
    padding: 10px 0px;
}

.profile-section-one .form-label {
    font-weight: 300;
    font-size: 14px;
}

.profile-section-one .password-input {
    width: 100%;
    padding-right: 40px;
    /* Space for the icon */
}

.profile-section-one .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.profile-section-one .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.342);
}

.profile-section-one input::placeholder {
    font-size: 13px;
    color: rgb(161, 161, 161);
}

.profile-section-one .nav-link:hover {
    color: #8950DA;
}

.profile-section-one .react-tel-input .flag-dropdown {
    border: 1px solid #e3e3e3;
    border-right: none;
    border-radius: 0.285rem;
    background-color: transparent;
}

.profile-section-one .react-tel-input .form-control {
    padding-left: 40px;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    height: 40px;
}

.profile-section-one .react-tel-input .form-control:focus {
    /* border-color: rgba(0, 0, 0, 0.342); */
}

.profile-section-one .react-tel-input .selected-flag:hover,
.profile-section-one .react-tel-input .selected-flag:focus,
.profile-section-one .react-tel-input .selected-flag:active {}


@keyframes zoomOut {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.profile-section-one .tab-pane {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.profile-section-one .tab-pane.show.active {
    animation-name: zoomOut;
}

.profile-section-one .tab-pane {
    transition: all 0.1s ease-in-out;
}



.cryto-section .total-balance-sec {
    background: #FFFFFF;
}

.cryto-section .total-heading {
    font-size: 1.3rem;
    font-weight: 500;
}

.cryto-section .bal-text {
    font-size: 13px;
    font-weight: 400;
    color: #4F4F4F;
}

.cryto-section .avail-bal {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.cryto-section .value-pic {}

.cryto-section .bal-text-two {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.cryto-section .link-btn {
    background: #ffffff;
    padding: 16px 16px;
    color: var(--color-1);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #D7CEE3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cryto-section .arrow-right {
    color: var(--color-1);
    font-size: 20px;
    margin-left: 14px;
}

.cryto-section .exchange .form-label {
    font-size: 10px;
    font-weight: 400;
    color: #595656;
    margin-left: 10px;
    margin-bottom: 0px;
}

.cryto-section .exchange .form-control {
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 8px;
    width: 90%;
}

.cryto-section .exchange .form-control:focus {
    box-shadow: none;
}

.cryto-section .exchange .form-control::placeholder {
    font-size: 10px;
    font-weight: 400;
    color: #595656;
}

.cryto-section .exchange .from-btn {
    background: #F5F4F4;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.cryto-section .exchange .swap-icon {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 2px;
    font-size: 24px;
}

.cryto-section .exchange .fees-sec {
    background: #F5F4F4;
    padding: 10px;
    border-radius: 8px;
}

.cryto-section .exchange .fees-text {
    font-size: 12px;
    font-weight: 400;
    color: #595656;
}

.cryto-section .exchange .done-css {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
    padding: 16px 0px;
    width: 100%;
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.cryto-section .live-heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-1);
}

.cryto-section .table-size {
    overflow: auto;
}

.cryto-section .livemarket-table {
    width: 100%;
}

.livemarket-table tr {}

.livemarket-table td {
    padding: 15px 50px 15px 0px;
    vertical-align: middle;
    white-space: nowrap;
}

.livemarket-table td:first-child {
    width: 30%;
    /* First column */
}

.livemarket-table td:nth-child(2) {
    width: 30%;
    /* Second column */
}

.livemarket-table td:nth-child(3) {
    width: 30%;
    /* Third column */
}

.livemarket-table td:last-child {
    width: 10%;
    /* Fourth column */
}


.livemarket-table .text-one {
    font-size: 15px;
    font-weight: 600;
    color: #1A1A1A;
}

.livemarket-table .text-two {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #9E9E9E;
}

.livemarket-table .text-three {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #9E9E9E;
}

.livemarket-table .text-four {
    font-size: 13px;
    font-weight: 500;
}

.livemarket-table .fc-g {
    color: #1FCB4F;
}

.livemarket-table .text-five {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #1A1A1A;
}

.livemarket-table .fc-r {
    color: #F46D22;
}

.livemarket-table .graph-size {}

/* Optional: Customize scrollbar appearance */
.table-size::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 4px;
}

.transaction .text-one {
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
}

.transaction .text-two {
    font-size: 13px;
    font-weight: 400;
    color: #9E9E9E;
}


.cryptoinner-section-one .graph-section {
    background: #FFFFFF;
}

.graph-section .text-one {
    font-size: 15px;
    color: #191919;

}

.graph-section .text-two {
    font-size: 12px;
    color: grey;
}

.graph-section .text-three {
    font-size: 14px;
}

.fc-b {
    color: #31B8C9;
}

.graph-section .text-four {
    font-size: 12px;
}


.graph-section .calendar-container {
    position: relative;
    display: inline-block;
}

.graph-section .calendar-icon-button {
    margin-right: 5px;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    background: #E8E8E8;
}

.graph-section .view-buttons {
    margin-top: 10px;
}

.graph-section .view-buttons button {
    margin-right: 5px;
    padding: 6px 8px;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    background: #E8E8E8;
}

.graph-section .react-calendar {
    position: absolute;
    top: 35px;
    z-index: 99;
}

.cryptoinner-section-one .swap-section {
    background: #FFFFFF;
}

.swap-section .nav-pills .nav-item {
    background: #E8E8E8;
    border-radius: 5px;
}

.swap-section .nav-pills .nav-link {
    --bs-nav-link-padding-x: 60px;
}

.swap-section .nav-pills .nav-link.active,
.swap-section .nav-pills .show>.nav-link {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
}

.swap-section .nav-link {
    color: #FF4B1F;
}

.swap-section .text-one {
    font-size: 13px;
    color: #191919;
}

.swap-section .text-two {
    font-size: 11px;
    color: grey;
}

.swap-section .border-bottom-css {
    border-bottom: 1px solid rgb(241 241 241);
}

.swap-section .position-relative {
    position: relative;
}

.swap-section .position-absolute {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.swap-section .form-control {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #ECE6E6;
}

.swap-section .form-control:focus {
    border: 1px solid #ECE6E6;
    box-shadow: none;
}

.swap-section .from-img {
    background: #292929;
    padding: 4px;
    border-radius: 5px;
}

.swap-section .custom-placeholder-input {
    color: transparent;
    /* Makes the default placeholder text transparent */
}

.swap-section .custom-placeholder {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Ensures that the div doesn't interfere with input events */
    color: #B8B8B8;
    font-size: 12px;
    line-height: 1rem;
    white-space: wrap;
    /* Allows wrapping for the text */
}

.swap-section .custom-placeholder-input:focus+.custom-placeholder,
.swap-section .custom-placeholder-input:not(:placeholder-shown)+.custom-placeholder {
    display: none;
}

.swap-section .swap-icon {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
    border: none;
    border-radius: 50%;
    color: white;
}

.swap-section .text-three {
    font-size: 12px;
    font-weight: 300;
}

.swap-section .done-css {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
    border: none;
    border-radius: 10px;
    color: white;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}


.trade-section .nav-pills .nav-link.active,
.trade-section .nav-pills .show>.nav-link {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.trade-section .nav-link {
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.cryptoinner-section-one .cryto-table {
    overflow: auto;
    background: #FFFFFF;
}

.cryptoinner-section-one .cryto-table-section {
    width: 100%;
    background: #FFFFFF;
}

.cryptoinner-section-one .cryto-table-section th {
    font-size: 10px;
    font-weight: 300;
    color: #191919;
    line-height: 18.38px;
    padding: 10px;
}

.cryptoinner-section-one .cryto-table-section td {
    padding: 10px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 400;
    line-height: 18.38px;
}

.cryptoinner-section-one .cryto-table-section td:first-child {
    width: 15%;
}

.cryptoinner-section-one .cryto-table-section td:nth-child(2) {
    width: 15%;
}

.cryptoinner-section-one .cryto-table-section td:nth-child(3) {
    width: 10%;
}

.cryptoinner-section-one .cryto-table-section td:nth-child(4) {
    width: 10%;
}

.cryptoinner-section-one .cryto-table-section td:nth-child(5) {
    width: 10%;
}

.cryptoinner-section-one .cryto-table-section td:nth-child(6) {
    width: 15%;
}

.cryptoinner-section-one .cryto-table-section td:last-child {
    width: 15%;
}


.cryto-table .crypto-table-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    white-space: nowrap;
}

.cryto-table .option-btn {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    line-height: 18.38px;
}

.cryto-table .search-input {
    padding-left: 10px;
    width: 200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0.5px solid #E6E1EE
}

.cryto-table .search-input::placeholder {
    font-size: 10px;
}

.crypto-table-options .search-btn {
    border: none;
    background: #D9D1E4;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 16px;
}

.card-section .mycard-section{
    background: #ffffff;
}
.mycard-section h6{
    color: #8950DA;
}
.mycard-section .card-body{
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
/* ==========Karthick ============= */