/* ==========Karthick ============= */
/* =====Desktop ======== */
@media (min-width: 992px) {
    .profile-section-one .password-container {
        position: relative;
        width: 80%;
    }

    .profile-section-one .done-css {
        background: linear-gradient(90.9deg, #B5379F 3.03%, #69678a 94.33%);
        border: none;
        border-radius: 10px;
        color: white;
        width: 80%;
        font-size: 14px;
        padding: 10px;
    }
}

/* =====Desktop ======== */
/* =====Mobile ======= */
@media (max-width: 991px) {
    .profile-section-one .password-container {
        position: relative;
        width: 100%;
    }

    .profile-section-one .done-css {
        background: linear-gradient(90.9deg, #B5379F 3.03%, #4E49B9 94.33%);
        border: none;
        border-radius: 10px;
        color: white;
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}

/* =====Mobile ======= */
.profile-section .profile-section-one .profile-col {
    background: #FEFEFE;
    margin: 10px;
    border-radius: 15px;
}

.profile-section-one .pro-pic {
    width: 100px;
    height: 100px;
}

.profile-section-one .user-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #8950DA;
}

.profile-section-one .user-id {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.06px;
    color: #00000099;
}

.profile-section-one .edit-profile {
    border: 1px solid #84818a33;
    color: #84818A;
    width: auto;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}

.profile-section-one .pro-left {
    border-right: 1px solid rgba(128, 128, 128, 0.253);
}

.profile-section-one .nav-pills .nav-link.active,
.profile-section-one .nav-pills .show>.nav-link {
    color: #8950DA;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
}

.profile-section-one .nav-link {
    font-weight: 700;
    color: #202020;
    padding: 10px 0px;
}

.profile-section-one .form-label {
    font-weight: 300;
    font-size: 14px;
}

.profile-section-one .password-input {
    width: 100%;
    padding-right: 40px;
    /* Space for the icon */
}

.profile-section-one .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.profile-section-one .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.342);
}

.profile-section-one input::placeholder {
    font-size: 13px;
    color: rgb(161, 161, 161);
}

.profile-section-one .nav-link:hover {
    color: #8950DA;
}

.profile-section-one .react-tel-input .flag-dropdown {
    border: 1px solid #e3e3e3;
    border-right: none;
    border-radius: 0.285rem;
    background-color: transparent;
}

.profile-section-one .react-tel-input .form-control {
    padding-left: 40px;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    height: 40px;
}

.profile-section-one .react-tel-input .form-control:focus {
    /* border-color: rgba(0, 0, 0, 0.342); */
}

.profile-section-one .react-tel-input .selected-flag:hover,
.profile-section-one .react-tel-input .selected-flag:focus,
.profile-section-one .react-tel-input .selected-flag:active {}


@keyframes zoomOut {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.profile-section-one .tab-pane {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.profile-section-one .tab-pane.show.active {
    animation-name: zoomOut;
}

.profile-section-one .tab-pane {
    transition: all 0.1s ease-in-out;
}



.cryto-section .total-balance-sec {
    background: #FFFFFF;
}

.cryto-section .total-heading {
    font-size: 1.3rem;
    font-weight: 500;
}

.cryto-section .bal-text {
    font-size: 13px;
    font-weight: 400;
    color: #4F4F4F;
}

.cryto-section .avail-bal {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.cryto-section .value-pic {}

.cryto-section .bal-text-two {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.cryto-section .link-btn {
    background: #ffffff;
    padding: 12px 16px;
    color: var(--color-1);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #D7CEE3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cryto-section .arrow-right {
    color: var(--color-1);
    font-size: 20px;
    margin-left: 14px;
}

.cryto-section .exchange .form-label {
    font-size: 10px;
    font-weight: 400;
    color: #595656;
    margin-left: 10px;
    margin-bottom: 0px;
}

.cryto-section .exchange .form-control {
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 8px;
    width: 90%;
}

.cryto-section .exchange .form-control:focus {
    box-shadow: none;
}

.cryto-section .exchange .form-control::placeholder {
    font-size: 10px;
    font-weight: 400;
    color: #595656;
}

.cryto-section .exchange .from-btn {
    background: #F5F4F4;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.cryto-section .exchange .swap-icon {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 2px;
    font-size: 24px;
}

.cryto-section .exchange .fees-sec {
    background: #F5F4F4;
    padding: 10px;
    border-radius: 8px;
}

.cryto-section .exchange .fees-text {
    font-size: 12px;
    font-weight: 400;
    color: #595656;
}

.cryto-section .exchange .done-css {
    background: linear-gradient(90.9deg, #B5379F 3.03%, #69678a 94.33%);
    border: none;
    border-radius: 10px;
    color: white;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.cryto-section .live-heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-1);
}
.cryto-section .table-size{
    overflow: auto;
}
.cryto-section .livemarket-table {
    
}
.livemarket-table tr {
    
}
.livemarket-table td {
    padding:15px 60px 15px 0px;
    vertical-align: middle;
    white-space: nowrap;
}

.livemarket-table .text-one {
    font-size: 15px;
    font-weight: 600;
    color: #1A1A1A;
}

.livemarket-table .text-two {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #9E9E9E;
}

.livemarket-table .text-three {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #9E9E9E;
}

.livemarket-table .text-four {
    font-size: 13px;
    font-weight: 500;
}

.livemarket-table .fc-g {
    color: #1FCB4F;
}

.livemarket-table .text-five {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #1A1A1A;
}
.livemarket-table .fc-r {
    color: #F46D22;
}
.livemarket-table .graph-size{
    
}
/* Optional: Customize scrollbar appearance */
.table-size::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 7px;
}
.transaction .text-one{
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
}
.transaction .text-two{
    font-size: 13px;
    font-weight: 400;
    color: #9E9E9E;
}


.cryptoinner-section-one .graph-section{
    background: #FFFFFF;
}
.graph-section .text-one{
    
}
.graph-section .text-two{
    font-size: 12px;
    color: grey;
}
.graph-section .text-three{
    font-size: 14px;
}
.fc-b{
    color:#31B8C9;
}
.graph-section .text-four{
    font-size: 12px;
}
/* ==========Karthick ============= */