.top-left-side-nav-banner {
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

.top-navbar-banner .navbar {
    background-color: #FFF;
    padding: 6px 20px;
}

.top-navbar-banner .toggle-button-1 {
    width: 32px;
    height: 32px;
}

.top-nav-text-1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 30px;
}

.top-navbar-search-sec .input-group {
    border: 1px solid #EBEBEB;
    background: #F5F5F5;
    border-radius: 12px;
    position: relative;
    /* left: -4vw; */
    height: fit-content;
}

.top-navbar-search-sec .form-control, .top-navbar-search-sec .form-control:focus {
    background: transparent;
    border: none;
    padding: 11px;
    box-shadow: none;
    font-size: 14px;
    width: 20vw !important;
}

.top-navbar-search-sec ::placeholder {
    color: #9E9E9E !important;
}

.top-navbar-search-sec .input-group-text {
    background: transparent;
    border: none;
}

.top-navbar-search-sec .input-group-text img {
    width: 18px;
    height: 18px;
}

.top-navbar-notify-1 {
    width: 18.5px;
    height: auto;
    margin-right: 6vw;
    position: relative;
}

.notify-active::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 12px;
    width: 10px;
    height: 10px;
    background-color: var(--color-1);
    ;
    border: 1px solid var(--border-color-1);
    border-radius: 50%;
    z-index: 9;
}


.pro-drop-img-1 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.top-navbar-pro-drop-btn {
    padding: 6px 14px;
    border: 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}

.pro-drop-icon-1 {
    color: var(--color-1);
    font-size: 24px;
}

.active-page-root-css {
    background: var(--background-color-1) !important;
    color: #FFF !important;
}

.active-page-root-css .pro-drop-icon-1 {
    color: #FFF;
}

.top-navbar-banner .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.mobile-sidenav-close {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 1px solid #63636382;
    border-radius: 8px;
    position: relative;
    left: -10px;
}

.side-nav-logo {
    width: 200px;
    height: 80px !important;
}

.list-item-side-logout {
    width: 100%;
    border: 0px;
    color: #F8450B !important;
}

.list-item-side {
    list-style: none;
    background: transparent;
    color: #9E9E9E;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
}

.list-item-top-sec {
    padding: 10px;
}

.side-logout-text-1 {
    color: #717579;
    font-size: 14px;
    text-align: center;
}

.side-close-width .side-logout-text-1 {
    visibility: hidden;
    white-space: nowrap;

}

.side-text-1 {
    width: 24px;
    height: auto;
    margin-right: 14px;
}

.side-close-width .side-text-1 {
    margin: 0px;
}

.top-dash-overrall-sec {
    padding: 20px 0px;
}

.dash-card-1 {
    background-color: #FEFEFE !important;
    box-shadow: 0px 0px 34px 0px #00000012;
    border: none !important;
}

.dash-head-1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-1);
}

.dash-trans-arrow-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.dash-trans-arrow-btn-2 {
    background-color: transparent;
    border: none;
    font-size: 15px;
    opacity: 0.8;
}

.dash-trans-btn-1 {
    background-color: #F5F5F5;
    border: 0px;
    Width: 48px;
    height: 44px;
    color: #afafaf;
    font-size: 24px;
    border-radius: 12px;
}

.dash-trans-img-1 {
    width: 38px;
    height: 38px;
}


.dash-trans-img-2 {
    width: 28px;
    height: 28px;
    margin-top: -4px;
}

.dash-trans-img-2-2 {
    margin-top: 10px;
    margin-left: -20px;
}

.dash-trans-txt-1 {
    font-size: 1.05rem;
    font-weight: 400;
}

.dash-trans-txt-1.fw-bold {
    font-weight: 600 !important;
}

.dash-trans-txt-1 .fw-bold {
    font-weight: 600 !important;
}

.dash-trans-txt-2 {
    font-size: 14px;
    opacity: 0.8;
}

.dash-actions-btn-1 {
    border: 1px solid #DDD0EF;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    height: 100%;
    justify-content: space-between;
}

.dash-actions-action-1 {
    font-size: 1.8rem;
    color: var(--color-1);
    margin-bottom: 10px;
}

.dash-actions-action-2 {
    font-size: 1.2rem;
    color: var(--color-1);
    margin-right: 6px;
}

.side-close-width .hides-when-close {
    display: none;
}

.dash-swipe-card-sec .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 40px !important;
    background-color: transparent;
}

.dash-swipe-card-1 {
    color: #FFF !important;
    border: none !important;
    box-shadow: 0px 0px 34px 0px #00000012;
    background-size: cover;
    background-position: top right;
    background-color: transparent !important;
    border-radius: 40px !important;
    padding: 12px;
}

.dash-swipe-card-sec .swiper-pagination-bullet-active {
    background: linear-gradient(180deg, #8950DA 0%, #AF50A7 100%) !important;
}

.dash-swipe-card-sec .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #0006;
}

.dash-swipe-card-sec .swiper-pagination {
    margin-bottom: -14px;
}

.dash-card-img-1 {
    width: 42px;
    height: 42px;
}

.dash-card-txt-1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.dash-card-img-2 {
    height: 24px;
    width: auto;
}

.dash-card-txt-2{
    font-size: 3.5rem;
    font-weight: 700;
}

/* Desktop styles */
@media (min-width: 1025px) {
    .dash-actions-txt-1 {
        font-size: 0.9vw;
        font-weight: 600;
    }

    .desk-h-100 {
        height: 100%;
    }



    .side-open-padleft {
        padding-left: 250px !important;
        transition: padding 0.3s ease;
    }

    .side-close-padleft {
        padding-left: 70px !important;
        transition: padding 0.3s ease;
    }

    .side-open-width {
        width: 250px !important;
    }

    .side-close-width {
        width: 70px !important;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .side-open-padleft {
        padding-left: 250px !important;
        transition: padding 0.3s ease;
    }

    .side-close-padleft {
        padding-left: 70px !important;
        transition: padding 0.3s ease;
    }

    .side-open-width {
        width: 250px !important;
    }

    .side-close-width {
        width: 70px !important;
    }
}

/* Mobile styles */
@media (max-width: 767px) {

    .top-navbar-search-sec .form-control, .top-navbar-search-sec .form-control:focus {
        width: 80% !important;
    }

    .top-nav-text-1 {
        font-size: 16px;
        margin-left: 0px;
    }

    .top-navbar-banner .navbar-toggler {
        font-size: 14px;
        padding: 0px;
    }

    .top-navbar-banner .toggle-button-1 {
        width: 22px;
        height: 22px;
    }

    .top-navbar-banner .navbar {
        background-color: #FFF;
        padding: 12px 0px;
    }

    .side-open-padleft {
        padding-left: 0px !important;
        transition: padding 0.3s ease;
    }

    .side-close-padleft {
        padding-left: 0px !important;
        transition: padding 0.3s ease;
    }

    .side-open-width {
        width: 250px !important;
        left: 0px;
    }

    .side-close-width {
        width: 250px !important;
        left: -250px;
    }
}

/* Mobile Tablet styles */
@media (max-width: 1024px) {
    .dash-actions-txt-1 {
        margin-top: 10px;
    }
}