/* <============pandi============> */

.epic-ctn-12 {
  height: 200px !important;
  background: transparent !important;
  border: none !important;
}

.epic-ctn-14 {
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.epic-ctn-20 {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.epic-ctn-25 {
  color: rgba(137, 80, 218, 1) !important;
  border: 1px solid rgba(137, 80, 218, 1) !important;
}

.epic-ctn-09 {
  height: 210px;
}

.epic-ctn-28 {
  font-size: 16px;
  color: rgba(137, 80, 218, 1);
}

.epic-ctn-29 {
  font-size: 40px;
  color: rgba(137, 80, 218, 1);
}

.epic-ctn-30 {
  font-size: 13px;
}

.epic-ctn-31 {
  height: 100px;
}

.epic-ctn-32 {
  width: 100%;
}

.epic-ctn-32 {
  font-size: 12px;
  background: rgba(137, 80, 218, 1);
  border: 1px solid rgba(137, 80, 218, 1);
  color: white;
  border-radius: 8px;
}

.epic-ctn-33 {
  width: 100%;
  color: rgba(137, 80, 218, 1) !important;
  border: 1px solid rgba(137, 80, 218, 1) !important;
  font-size: 12px;
  border-radius: 8px;
}

.secon-col-epic-01 {
  height: 300px;
}

.help-support-01 {
  color: rgba(137, 80, 218, 1);
  font-size: 15px;
}

.rempic-office-img-01 {
  width: 115px;
}

.rempic-img-background {
  background: white;
  border-radius: 10px;
}

.card-rempic-office-ctn {
  font-size: 12px;
}

.help-support-01 {
  font-size: 16px;
}

.rempic-united-states-01 {
  font-size: 16px;
  color: rgba(137, 80, 218, 1);
}

.epic-ctn-06 {
  background-color: white;
  border-radius: 10px;
}

.rempic-selector-01 {
  width: 95px !important;
}

.epic-monthly-001 {
  font-size: 12px !important;
}



/* <============================> */

/* Desktop styles */
@media (min-width: 1025px) {
  .epic-chart-sec-00 {
    /* height: 320px; */
    background: white !important;
    border-radius: 10px;
  }

  .epic-chart-sec-01 {
    /* background:white; */
    border-radius: 8px;

  }

  .epic-rounds-up {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-rounds-help {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .rnds-up-money {
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rnds-up-money .css-wmy1p7-ReactDropdownSelect {
    border: 1px solid grey !important;
    border-radius: 6px;
  }

  .rnds-up-money-box {
    background: #eae3e3bd;
  }

  .add-to-spend-01 {
    border-top: 1px solid #eae3e3bd;
    border-bottom: 1px solid #eae3e3bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }

  .new-epic-cash-btn {
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
    color: rgba(137, 80, 218, 1);
    border-radius: 8px;
    padding: 10px;
  }

  .epic-ref-ctn {
    color: rgba(137, 80, 218, 1);
  }

  .epic-total-referral-box {
    background: white;
    border-radius: 8px;
  }

  .epic-ref-ctn-num {
    font-size: 50px;
    color: rgba(137, 80, 218, 1);
  }

  .epic-share-full-ctn {
    font-size: 12px;
    color: #786767bd;
    text-align: center;
    padding: 10px;
  }

  .epic-invite-frd-02 {
    background: var(--background-color-1) !important;
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 14px;
  }

  .epic-invite-frd-03 {
    /* background: var(--background-color-1) !important; */
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: rgba(137, 80, 218, 1);
    font-size: 14px;
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
  }

  .epic-tot-rempic-office {
    background: #eae3e3bd;
    border-radius: 6px;
  }

  .united-state-ctn-01 {
    color: rgba(137, 80, 218, 1);
    font-size: 15px;
  }

  .epic-tkn-num-01 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-tkn-num-02 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-fraud-01 {
    color: #554848bd;
    font-size: 14px;
  }

  .epic-fraud-new-child {
    color: black;
  }

  .epic-customer-care-01 {
    font-size: 12px;
    color: #554848bd;
  }

  .full-mail-ctn-01 {
    border-top: 1px solid #eae3e3bd;

  }

  .new-logo-rempic-01 {
    width: 100px;
    height: 70px;
    object-fit: contain;
  }

  .new {
    position: absolute;
    top: 65px;
  }

  .epic-usa-office {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .epic-tkn-num-01 {
    font-size: 13px;
  }

  .epic-tkn-full-num-01 {
    font-size: 13px;
  }

  .epic-fraud-01 {
    font-size: 13px;
  }

  .new-remic-nav {
    display: flex !important;
    justify-content: space-around !important;
  }

  .epic-tab-mail-01 {
    font-size: 13px;
  }

  .new-united-ss {
    display: flex;
    align-items: center !important;
  }

  .epic-tab-mail-num-00 {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    /* border-top:1px solid grey; */
  }

  .epic-united-sec-01 {
    border-top: 1px solid #eae3e3bd;
  }

  .epic-helps-support {
    color:
      rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-united-states-whl-001 {
    background: white;
    border-radius: 10px;
  }

  .new-epic-usa-off,
  .new-epic-uk-off {
    font-size: 12px;
    text-align: center;
  }

  .rempic-box-office {
    background: #f6f2f2;
    border-radius: 8px;
  }

  .united-office {
    color:
      rgba(137, 80, 218, 1);
    font-size: 13px;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link {
    border-radius: 10px;
    padding: 1px !important;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link.active {
    background: var(--background-color-1);
  }

  .epic-nav-link-2 {
    background-color: #FFF;
    border-radius: 9px;

  }

  .epic-fraud-ctn {
    color: grey;
  }

  .epic-chart-sec-01 .form-check-input:checked {
    background-color: rgba(137, 80, 218, 1) !important;
    padding: 9px;
    box-shadow: none !important;
    border: none !important;
  }

  .epic-chart-sec-01 .form-check-input:checked {

    padding: 9px;
    box-shadow: none !important;
    border: none !important;
  }

  .multiply-drop-btn {
    width: 100px;
    font-size: 10px !important;
  }

  .new-multiply-btn {
    width: 100px !important;
    background: transparent !important;
    border: 1px solid grey !important;
    font-size: 11px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    color: grey !important;

  }

  .epic-chart-rounded-01 {
    background: #f2ebeb !important;
  }

  .rnds-up-money-box {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .epic-chart-rounded-01 {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .epic-total-points-54 {
    position: absolute;
    top: 38%;
    left: 25%;
    font-size: 10px;
    text-align: center;
    color: grey;
  }

  .epic-total-number {
    color: var(--color-1);
    font-size: 13px;
  }

  .epic-form-select-01 {
    font-size: 12px !important;
    width: 100px !important;
    border: 1px solid #978c8c !important;
    color: black !important;
    box-shadow: none !important;
  }

  .epic-form-select-01 {
    background-color: #eae3e3bd !important;
  }
  .epic-total-points-540{
    position:absolute;
    top:0px!important;
  }
  .epic-chart-sec-00 .apexcharts-legend{
    position: absolute;
    left: auto;
    top: 24px;
    right:6%!important;
  }
  /* .epic-total-points-540 {
    position: absolute;
    text-align: center;
    font-size: 10px;
    left: calc(50% - 50px);
    top: calc(50% - 20px); 
    transform: translate(-50%, -50%);
  } */
  /* <======================> */
  .epic-total-points-54{
    position: absolute;
    top: 38%;
    left: 25%;
    font-size: 10px;
    text-align: center;
    color: grey;
}
.epic-total-points-5{
  margin-top:-30px;
}
  /* <========================> */
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .epic-chart-sec-00 {
    background: white !important;
    border-radius: 10px;
  }

  .epic-chart-sec-01 {
    border-radius: 8px;

  }

  .epic-rounds-up {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-rounds-help {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .rnds-up-money {
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rnds-up-money .css-wmy1p7-ReactDropdownSelect {
    border: 1px solid grey !important;
    border-radius: 6px;
  }

  .rnds-up-money-box {
    background: #eae3e3bd;
  }

  .add-to-spend-01 {
    border-top: 1px solid #eae3e3bd;
    border-bottom: 1px solid #eae3e3bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }

  .new-epic-cash-btn {
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
    color: rgba(137, 80, 218, 1);
    border-radius: 8px;
    padding: 10px;
  }

  .epic-ref-ctn {
    color: rgba(137, 80, 218, 1);
  }

  .epic-total-referral-box {
    background: white;
    border-radius: 8px;
  }

  .epic-ref-ctn-num {
    font-size: 50px;
    color: rgba(137, 80, 218, 1);
  }

  .epic-share-full-ctn {
    font-size: 12px;
    color: #786767bd;
    text-align: center;
    padding: 10px;
  }

  .epic-invite-frd-02 {
    background: var(--background-color-1) !important;
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 14px;
  }

  .epic-invite-frd-03 {
  
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: rgba(137, 80, 218, 1);
    font-size: 14px;
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
  }

  .epic-tot-rempic-office {
    background: #eae3e3bd;
    border-radius: 6px;
  }

  .united-state-ctn-01 {
    color: rgba(137, 80, 218, 1);
    font-size: 15px;
  }

  .epic-tkn-num-01 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-tkn-num-02 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-fraud-01 {
    color: #554848bd;
    font-size: 14px;
  }

  .epic-fraud-new-child {
    color: black;
  }

  .epic-customer-care-01 {
    font-size: 12px;
    color: #554848bd;
  }

  .full-mail-ctn-01 {
    border-top: 1px solid #eae3e3bd;

  }

  .new-logo-rempic-01 {
    width: 100px;
    height: 70px;
    object-fit: contain;
  }

  .new {
    position: absolute;
    top: 65px;
  }

  .epic-usa-office {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .epic-tkn-num-01 {
    font-size: 13px;
  }

  .epic-tkn-full-num-01 {
    font-size: 13px;
  }

  .epic-fraud-01 {
    font-size: 13px;
  }

  .new-remic-nav {
    display: flex !important;
    justify-content: space-around !important;
  }

  .epic-tab-mail-01 {
    font-size: 13px;
  }

  .new-united-ss {
    display: flex;
    align-items: center !important;
  }

  .epic-tab-mail-num-00 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
   
  }

  .epic-united-sec-01 {
    border-top: 1px solid #eae3e3bd;
  }

  .epic-helps-support {
    color:
      rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-united-states-whl-001 {
    background: white;
    border-radius: 10px;
  }

  .new-epic-usa-off,
  .new-epic-uk-off {
    font-size: 12px;
    text-align: center;
  }

  .rempic-box-office {
    background: #f6f2f2;
    border-radius: 8px;
  }

  .united-office {
    color:
      rgba(137, 80, 218, 1);
    font-size: 13px;
  }

  .epic-fraud-ctn {
    color: grey;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link.active {
    border: 1px solid rgba(137, 80, 218, 1);
    background: none !important;
  }

  .epic-chart-sec-01 .form-check-input:checked {
    padding: 9px;
    box-shadow: none !important;
    border: none !important;
  }

  .new-multiply-btn {
    width: 100px !important;
    background: transparent !important;
    border: 1px solid grey !important;
  }

  .epic-chart-rounded-01 {
    background: #f2ebeb !important;
  }

  .epic-chart-rounded-01 {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .epic-representation-box {
    height: 80px;
    background-color: white;
  }

  .new-logo-rempic-01 {
    background: white !important;
    border-radius: 8px !important;
  }

  .epic-total-points-54 {
    position: absolute;
    top: 41%;
    left: 37%;
    font-size: 10px;
    text-align: center;
    color: grey;
  }

  .epic-total-number {
    color: var(--color-1);
    font-size: 10px;
  }
  .epic-form-select-01 {
    background-color: #eae3e3bd !important;
  }
  .epic-form-select-01 {
    font-size: 12px !important;
    width: 100px !important;
    border: 1px solid #978c8c !important;
    color: black !important;
    box-shadow: none !important;
  }
  .epic-total-points-540 {
    left: calc(50% - 40px);
    top: calc(50% - 20px);
    font-size: 12px;
  }
  .epic-chart-sec-00 .apexcharts-legend{
    position: absolute;
    left: auto;
    top: 24px;
    right:6%!important;
  }
  /* <=====================> */
  .epic-total-points-05 {
    position: relative;
   margin-top:-40%!important;
}
/* <=======================> */
}

/* Mobile styles */
@media (max-width: 767px) {

 

  .united-office {
    color:
      rgba(137, 80, 218, 1);
    font-size: 13px;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link {
    border-radius: 10px;
    padding: 1px !important;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link.active {
    background: var(--background-color-1);
  }

  .epic-chart-sec-01 {
    /* background:white; */
    border-radius: 8px;

  }

  .epic-rounds-up {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-rounds-help {
    color: rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .rnds-up-money {
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rnds-up-money .css-wmy1p7-ReactDropdownSelect {
    border: 1px solid grey !important;
    border-radius: 6px;
  }

  .rnds-up-money-box {
    background: #eae3e3bd;
  }

  .add-to-spend-01 {
    border-top: 1px solid #eae3e3bd;
    border-bottom: 1px solid #eae3e3bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }

  .new-epic-cash-btn {
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
    color: rgba(137, 80, 218, 1);
    border-radius: 8px;
    padding: 10px;
  }

  .epic-ref-ctn {
    color: rgba(137, 80, 218, 1);
  }

  .epic-total-referral-box {
    background: white;
    border-radius: 8px;
  }

  .epic-ref-ctn-num {
    font-size: 50px;
    color: rgba(137, 80, 218, 1);
  }

  .epic-share-full-ctn {
    font-size: 12px;
    color: #786767bd;
    text-align: center;
    padding: 10px;
  }

  .epic-invite-frd-02 {
    background: var(--background-color-1) !important;
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 14px;
  }

  .epic-invite-frd-03 {
  
    padding: 12px;
    border: 0;
    border-radius: 6px;
    color: rgba(137, 80, 218, 1);
    font-size: 14px;
    background: transparent;
    border: 1px solid rgba(137, 80, 218, 1);
  }

  .epic-tot-rempic-office {
    background: #eae3e3bd;
    border-radius: 6px;
  }

  .united-state-ctn-01 {
    color: rgba(137, 80, 218, 1);
    font-size: 15px;
  }

  .epic-tkn-num-01 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-tkn-num-02 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epic-fraud-01 {
    color: #554848bd;
    font-size: 14px;
  }

  .epic-fraud-new-child {
    color: black;
  }

  .epic-customer-care-01 {
    font-size: 12px;
    color: #554848bd;
  }

  .full-mail-ctn-01 {
    border-top: 1px solid #eae3e3bd;

  }

  .new-logo-rempic-01 {
    width: 100px;
    height: 70px;
    object-fit: contain;
  }

  .new {
    position: absolute;
    top: 65px;
  }

  .epic-usa-office {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .epic-tkn-num-01 {
    font-size: 13px;
  }

  .epic-tkn-full-num-01 {
    font-size: 13px;
  }

  .epic-fraud-01 {
    font-size: 13px;
  }

  .new-remic-nav {
    display: flex !important;
    justify-content: space-around !important;
  }

  .epic-tab-mail-01 {
    font-size: 13px;
  }

  .new-united-ss {
    display: flex;
    align-items: center !important;
  }

  .epic-tab-mail-num-00 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
  }

  .epic-united-sec-01 {
    border-top: 1px solid #eae3e3bd;
  }

  .epic-helps-support {
    color:
      rgba(137, 80, 218, 1);
    font-size: 18px;
  }

  .epic-united-states-whl-001 {
    background: white;
    border-radius: 10px;
  }

  .new-epic-usa-off,
  .new-epic-uk-off {
    font-size: 12px;
    text-align: center;
  }

  .rempic-box-office {
    background: #f6f2f2;
    border-radius: 8px;
  }

  .united-office {
    color:
      rgba(137, 80, 218, 1);
    font-size: 13px;
  }

  .epic-fraud-ctn {
    color: grey;
  }

  .epic-united-states-whl-001 .nav-pills .nav-link.active {
    border: 1px solid rgba(137, 80, 218, 1);
  }

  .new-multiply-btn {
    width: 100px !important;
    background: transparent !important;
    border: 1px solid grey !important;
  }

  .epic-chart-sec-01 .form-check-input:checked {
    background-color: rgba(137, 80, 218, 1) !important;
    padding: 9px;
    box-shadow: none !important;
    border: none !important;
  }

  .epic-chart-rounded-01 {
    background: #f2ebeb !important;
  }

  .epic-chart-rounded-01 {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .epic-representation-box {
    height: 80px;
    background-color: white;
  }

  .united-office {
    color:
      rgba(137, 80, 218, 1);
    font-size: 13px;
  }


  .epic-united-states-whl-001 .nav-pills .nav-link.active {
    border: 1px solid rgba(137, 80, 218, 1);
    background: none !important;
  }

  .new-logo-rempic-01 {
    background: white !important;
    border-radius: 8px !important;
  }

  .epic-total-points-54 {
    position: absolute;
    top: 24%;
    left: 24%;
    font-size: 10px;
    text-align: center;
    color: grey;
  }

  .epic-total-number {
    color: var(--color-1);
    font-size: 10px;
  }
  .epic-form-select-01 {
    background-color: #eae3e3bd !important;
  }
  .epic-form-select-01 {
    font-size: 12px !important;
    width: 100px !important;
    border: 1px solid #978c8c !important;
    color: black !important;
    box-shadow: none !important;
  }
  .epic-chart-sec-00 .apexcharts-legend{
    position: absolute;
    left: auto;
    top: 24px;
    right:6%!important;
  }
  /* .new-custom-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis!important;
  } */
  /* div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  /* <====================> */
  .epic-total-points-54 {
    position: absolute;
    top: 50%;
    left: 26%;
    font-size: 10px;
    text-align: center;
    color: grey;
}
/* <========================> */
}

